<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <input type="text" required name="nome" value="{{dados.nome}}" class="form-control" placeholder="Nome completo" size="50">
    
    <title>Criar Perfil</title>
</head>
<body>
    <h1>Atualizar Informações</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" value="{{dados.nome}}" name="nome"><br>
        <label for="nascimento">Data de Nascimento:</label><br>
        <input type="date" id="nascimento" value="{{dados.nascimento|date:'Y-m-d'}}" name="nascimento"><br>
        <label for="email">Email:</label><br>
        <input type="email" value="{{dados.email}}"  id="email" name="email"><br>
        <label for="pais">País</label><br>
        <input type="text" value="{{dados.pais}}"  id="pais" name="pais"><br>
        <button type="submit">Salvar</button>

    </form>
</body>
</html>